@import '../mixins/keyframes.sass'

+keyframes(heartbeat)
  0%
    transform: scale(1.3)
  30%
    transform: scale(1)
  60%
    transform: scale(0.7)
  100%
    transform: scale(1)

@mixin heart($size)
  width: $size !important
  height: $size !important
  animation-name: heartbeat
  animation-duration: .75s
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  animation-direction: alternate

// @-webkit-keyframes heartbeat
//   0% {font-size: 3.8rem; color: $heartbeat-color}
//   30% {font-size: 3rem}
//   60% {font-size: 2.5rem}
//   100% {font-size: 3rem}
//
// @-moz-keyframes heartbeat
//   0% {font-size: 3.8rem; color: $heartbeat-color}
//   30% {font-size: 3rem}
//   60% {font-size: 2.5rem}
//   100% {font-size: 3rem}
//
// @keyframes heartbeat {
//   0% {font-size: 3.8rem; color: $heartbeat-color}
//   30% {font-size: 3rem}
//   60% {font-size: 2.5rem}
//   100% {font-size: 3rem}
// }
